@(users:Seq[models.Tables.User], venues:Seq[models.Tables.Venue])

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <h1>hello</h1>
  <ul>userList
    @for(user <- users) {
      <li>@user</li>
    }
  </ul>

  <ul>venueList
    @for(venue <- venues) {
      <li>@venue</li>
    }
  </ul>

  <button id="login">login</button>
  <button id="login_badreq">login badreq</button>

  <div id="app"></div>
  <script src='@routes.Assets.versioned("webpack/top/index.min.js")' type="text/javascript"></script>

</section>
}
}
